<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NetGifs</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
			<a th:href="@{/content/main}" class="btn btn-sm btn-default"><strong>NetGifs - Upload</strong></a> 
            <div class="pull-right">
            	<div style="display: inline" th:if="${user.admin}">
            		<a th:href="@{/content/upload}" class="btn btn-sm btn-default">Adicionar imagem</a>
            		<a th:href="@{/content/register}" class="btn btn-sm btn-default">Cadastrar usuário</a>
            		<a th:href="@{/content/category}" class="btn btn-sm btn-default">Cadastrar categoria</a>
            	</div>
            	<a th:href="@{/logout}" class="btn btn-sm btn-default">Sair</a>
            </div>
        </div>
        <div class="panel-body">
        	<form class="form-horizontal" th:object="${image}" th:action="@{/content/upload}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                    	<div class="form-group row">
                            <div class="alert alert-danger" th:if="${image.isError()}">
                            	<span th:text="${image.message}"></span>
                            </div>
                        </div>
                    	<div class="form-group row">                                                          
                            <div class="col-md-4">
                                <label>Endereço da imagem</label>
                                <input type="text" class="form-control input-sm" th:field="*{url}" autofocus="autofocus" autocomplete="off" placeholder="Endereço da imagem" maxlength="200"/>
                            </div>
                        </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-4">
                                <label>Descrição</label>
                                <input type="text" class="form-control input-sm" th:field="*{description}" autofocus="autofocus" autocomplete="off" placeholder="Descrição" maxlength="50"/>
                            </div>
                        </div>

						<div class="form-group row">
                            <div class="col-md-4">
                            	<label>Categoria</label> 
								<select th:field="*{category}" class="selectpicker">
									<option th:each="categoryItem : ${categoryList}"
										th:value="${categoryItem.id}" th:text="${categoryItem.name}" />
								</select>
							</div>
						</div>
						<div class="form-group row">
                            <div class="col-md-4">
                                <label>Idioma</label> 
                                <input type="text" class="form-control input-sm" th:field="*{language}" maxlength="100" autocomplete="off" placeholder="Idioma"/>
                            </div>
                        </div>     
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label>Faixa etária</label> 
                                <input type="text" class="form-control input-sm" th:field="*{ratings}" maxlength="100" autocomplete="off" placeholder="Faixa etária"/>
                            </div>
                        </div> 
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>